
.outer-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.inner-main-container{
    max-width: 1240px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px ;
    padding-right: 10px ;
    
}
.main{
    max-height: max-content;
    width: 1240px;
    margin: auto;
}

.breadcrumb-container{
    list-style-type:none;
    display: flex;
    justify-content: left;
    align-items: center;
}

.breadcrumb{
    display: flex;
    justify-content: left;
    align-items: center;
}

.breadcrumb li{
    display: flex;
    justify-content: left;
    align-items: center;
}

.breadcrumb li p{
    padding-right: 10px;
}

.type-quantity{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.type-quantity h1{
    margin: 20px 0 0 0;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.type-quantity p{
    margin: 4px 0 21px 0;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card-container{
    width: 98%;
    display: flex;
    flex-flow: row wrap;
    
    
}
.product-card-container::after {
    content: "";
    flex: auto;
}


.product-card{
    width: 30%;
    max-width: 30%;
    margin: 0 auto;
}